/* Overall container */
.wordle-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 50vh; */
  
  justify-content: center;
  /* min-height: 100vh; */

  padding-top: 30px;
}


/* Game container */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.title-container {
  /* margin: 20px 0; */
}

.message-container {
  height: 30px;
  margin-bottom: 20px;
}

.boards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.tile-container {
  width: 330px;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

#bot-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#bot-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 2px solid rgb(58, 58, 60);
  min-width: 50px; 
  min-height: 50px;
  font-size: 50px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard-container {
  height: 200px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: rgb(129, 131, 132);
  color: rgb(215, 218, 220);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  /* user-select: none; */
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}


/* Player's game styles */
.player-game {
  width: 50%; 
  text-align: center;
  margin-left: -30px;
}

.player-game h1 {
  text-align: center;
}

.player-game input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

.player-game button {
  padding: 10px;
  width: 45%;
  margin-bottom: 10px;
}

/* Reset button styles */
#Reset_Button{
  padding: 10px;
  width: 30%;
  margin-bottom: 10px;
  margin-left: 4px;
}

/* Bot's game styles */
.bot-game {
  flex: 1;
  width: 100%; /* Adjust width as needed */
  margin-left: auto;
  margin-right: -30px;
}

.bot-game h1 {
  text-align: center;
}

.gray {
  color: #999; /* Gray color */
}
.yellow {
  color: yellow; /* Yellow color */
}
.green {
  color: green; /* Green color */
}

.guess-list {
  list-style: none;
  padding: 0;
}

.guess-item {
  margin-bottom: 10px;
}

.button{
  align-items: center;
}


.letter-boxes {
  display: flex;
}

.letter {
  display: inline-block;
  width: 50px; /* Adjust the width of the boxes as needed */
  height: 50px; /* Adjust the height of the boxes as needed */
  border: 1px solid #000;
  text-align: center;
  line-height: 50px; /* Center the text vertically */
  margin-right: 5px;
}

/* Coloring based on feedback */
.gray {
  background-color: rgb(147, 147, 147); /* Gray background */
  color: black;
}
.yellow {
  background-color: yellow; /* Yellow background */
  color: black;
}
.green {
  background-color: green; /* Green background */
  color: black;
}

.bot-game .green{
  background-color: green; /* Green background */
  color: green;
}
.bot-game .gray {
  background-color: rgb(147, 147, 147); /* Gray background */
  color: rgb(147, 147, 147);
}
.bot-game .yellow {
  background-color: yellow; /* Yellow background */
  color: yellow;
}

.reveal-text {
  color: black !important; /* Override text color */
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #121213;
  color: white;
}
