/* Overall container */
.wordle-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  justify-content: center;
  min-height: 100vh;
}

/* Header styles */
.wordle-header {
  font-size: 100px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;

}

/* Game container */
.game-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin-bottom: 300px;
}

/* Player's game styles */
.player-game {
  width: 50%; /* Adjust width as needed */
  background-color: lightblue;

  text-align: center;
}

.player-game h1 {
  text-align: center;
}

.player-game input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

.player-game button {
  padding: 10px;
  width: 45%;
  margin-bottom: 10px;
}

/* Reset button styles */
#Reset_Button{
  padding: 10px;
  width: 30%;
  margin-bottom: 10px;
  margin-left: 4px;
}

/* Bot's game styles */
.bot-game {
  flex: 1;
  width: 100%; /* Adjust width as needed */
  background-color: lightcoral;
  margin-left: auto;
}

.bot-game h1 {
  text-align: center;
}

.gray {
  color: #999; /* Gray color */
}
.yellow {
  color: yellow; /* Yellow color */
}
.green {
  color: green; /* Green color */
}

.guess-list {
  list-style: none;
  padding: 0;
}

.guess-item {
  margin-bottom: 10px;
}

.button{
  align-items: center;
}


.letter-boxes {
  display: flex;
}

.letter {
  display: inline-block;
  width: 50px; /* Adjust the width of the boxes as needed */
  height: 50px; /* Adjust the height of the boxes as needed */
  border: 1px solid #000;
  text-align: center;
  line-height: 50px; /* Center the text vertically */
  margin-right: 5px;
}

/* Coloring based on feedback */
.gray {
  background-color: rgb(147, 147, 147); /* Gray background */
  color: black;
}
.yellow {
  background-color: yellow; /* Yellow background */
  color: black;
}
.green {
  background-color: green; /* Green background */
  color: black;
}

.bot-game .green{
  background-color: green; /* Green background */
  color: green;
}
.bot-game .gray {
  background-color: rgb(147, 147, 147); /* Gray background */
  color: rgb(147, 147, 147);
}
.bot-game .yellow {
  background-color: yellow; /* Yellow background */
  color: yellow;
}
